
@{
    ViewData["title"] = "Trainee";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Trainee";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3>This is Trainee !</h3>
    </div>
   

</div>
