@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Dashboard";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@* <div class="row">
    <div class="col-sm-12 col-md-12">
        <h3>This is dashboard page !</h3>
    </div>
</div> *@
<div class="row">
    <a href="https://btec.fpt.edu.vn/" ">
        <img src="https://cms.btec.edu.vn/pluginfile.php/1/theme_adaptable/p1/1694613006/socialbg.jpg" alt="FPT" style="width: 1340px; height: 672px;" />
    </a>
</div>



